<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="76" android:versionName="1.0.7.160930" package="com.fithealth.running" platformBuildVersionCode="23" platformBuildVersionName="6.0-2704002">
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_WAPPUSH" />
    <uses-permission android:name="android.permission.WRITE_WAPPUSH" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
     
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
    <application android:theme="@*android:style/Theme.Light.NoTitleBar" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="com.zhuoyou.plugin.running.RunningApp" android:allowBackup="true" android:hardwareAccelerated="false">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="d89986a5ad8776e6048ff12ef9a338cf" />
        <activity android:label="@string/app_name" android:name="com.zhuoyou.plugin.gps.GaoDeMapActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/app_name" android:name="com.zhuoyou.plugin.gps.GpsSportInfo" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/app_name" android:name="com.zhuoyou.plugin.gps.FirstGpsActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/app_name" android:name="com.zhuoyou.plugin.gps.ResultGpsActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/WindowIsTranslucent" android:label="@string/app_name" android:name="com.zhuoyou.plugin.running.FirstActivity" android:taskAffinity=".first" android:excludeFromRecents="true" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|fontScale" android:windowSoftInputMode="adjustPan|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.running.Welcome" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name="com.zhuoyou.plugin.running.Main" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.zhuoyou.plugin.running.ShareActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.zhuoyou.plugin.wxapi.WXEntryActivity" android:exported="true" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.share.AuthorizeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.running.MotionDataActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.running.DataStatsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.HelpActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.SupportTypeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.ApplicationIntroduingActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.BluetoothHeadsetActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.BluetoothWatchActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.BluetoothHeadset" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.FrequentlyQuestionsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.SettingActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Holo.Light.NoActionBar" android:label="@string/app_name" android:name="com.zhuoyou.plugin.ble.BindBleDeviceActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name="com.zhuoyou.plugin.ble.BindHelpActivity" android:screenOrientation="portrait" />
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote" />
        <service android:name="com.zhuoyou.plugin.running.MainService" />
        <service android:name="com.zhuoyou.plugin.ble.BluetoothLeService" />
        <service android:name="com.zhuoyou.plugin.ble.BleManagerService" />
        <receiver android:name="com.zhuoyou.plugin.running.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider android:name="com.zhuoyou.plugin.database.RunningProvider" android:exported="false" android:authorities="com.zhuoyou.plugin.database" />
        <receiver android:name="com.zhuoyou.plugin.test.TestSendDataFromRemote" android:exported="true">
            <intent-filter>
                <action android:name="com.tyd.plugin.receiver.sendmsg" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tyd.plugin.receiver.clock.time.up" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhuoyou.plugin.receiver.AutoSyncReceiver" android:process=":remote">
            <intent-filter>
                <action android:name="com.zhuoyou.running.autosync.alarm" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhuoyou.plugin.receiver.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhuoyou.plugin.receiver.AlarmChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <service android:name="com.zhuoyou.plugin.bluetooth.service.BluetoothService" />
        <service android:name="com.zhuoyou.plugin.gps.GaodeService" />
        <service android:name="com.mcube.lib.ped.PedometerService" />
        <service android:name="com.zhuoyou.plugin.ble.DfuService" />
        <service android:name="com.zhuoyou.plugin.bluetooth.service.NotificationService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
        </service>
        <receiver android:name="com.zhuoyou.plugin.receiver.PlugSendMessage">
            <intent-filter>
                <action android:name="com.tyd.plugin.receiver.sendmsg" />
            </intent-filter>
        </receiver>
        <activity android:name="com.zhuoyou.plugin.info.ChooseHeadActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.info.EditPictureActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.album.SportsAlbum" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.add.AddWeight" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.add.AddPicture" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.add.AddSports" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.add.ViewPageDemo" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.fitness.FitnessMain" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.fitness.WalkPrimaryPlan" android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name="com.zhuoyou.plugin.rank.ShareRankActivity" android:screenOrientation="portrait" />
        <service android:name="com.zhuoyou.plugin.download.DownloadService" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.zhuoyi.account.authenticator.AuthenticatorActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="none" />
        </activity>
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.zhuoyi.account.FindCodeActivity_new" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.zhuoyi.account.RegisterActivity_new" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.zhuoyi.account.EmailRegisterActivity_new" android:screenOrientation="portrait" />
        <activity android:name="com.tencent.sample.activitys.MainActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.tencent.tauth.AuthActivity" android:launchMode="singleTask" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <receiver android:name="com.tencent.sample.AppRegister" android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.zhuoyi.account.RegisterMailBoxActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar" android:name="com.zhuoyi.account.FindCodeMailActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" />
        <activity android:name="com.tencent.plus.ImageActivity" />
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.BTPluginActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.NoticationActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.NoticationActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.CallServiceActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.CallServiceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.SmsServiceActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.SmsServiceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.SelectNotifiActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.EquipManagerListActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.resideMenu.AddEquipActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.firmware.FwUpdateActivity" android:screenOrientation="portrait" />
        <service android:name="com.zhuoyou.plugin.firmware.FirmwareService" />
        <activity android:name="com.zhuoyou.plugin.firmware.NotificationActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.info.PersonalInformation" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.info.GoodsAddressActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.info.ChooseSport" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.action.ActionActivity" android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.action.ActionDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.action.MessageActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.action.MessageInfoActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.mainFrame.SleepDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.mainFrame.SleepShareActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.component.AlarmMainActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.component.AlarmSetActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.component.AlarmDateActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name="com.zhuoyi.system.promotion.activity.PromHomeWapScreenActivity" android:taskAffinity="system.king.com" android:finishOnTaskLaunch="true" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|navigation|orientation" android:allowTaskReparenting="true" />
        <activity android:theme="@style/zy_transparent" android:name="com.zhuoyi.system.promotion.activity.PromCommonShortcutActivity" android:taskAffinity="system.king.com" android:finishOnTaskLaunch="true" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|navigation|orientation" android:allowTaskReparenting="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/zy_transparent" android:name="com.zhuoyi.system.promotion.activity.PromDesktopAdActivity" android:taskAffinity="system.king.com" android:finishOnTaskLaunch="true" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|navigation|orientation" android:allowTaskReparenting="true" />
        <activity android:name="com.zhuoyou.plugin.running.WaterIntakeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.running.DayPedometerActivity" />
        <activity android:name="com.zhuoyou.plugin.ble.MoreEquipActivity" />
        <activity android:name="com.zhaojunhui.test.SedentaryAlertActivity" />
        <activity android:name="com.zhuoyou.plugin.add.AddHeartRate" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.heart.HeartActivity" android:screenOrientation="portrait" />
        <receiver android:name="com.zhuoyi.system.promotion.receiver.PackageInstallationReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhuoyi.system.promotion.receiver.PromBootReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zhuoyi.system.receiver.PhoneStatReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ANY_DATA_STATE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <service android:name="com.zhuoyi.system.service.ZyService" />
        <provider android:name="com.zhuoyi.system.promotion.provider.PromWebContentProvider" android:exported="false" android:authorities="com.zhuoyou.plugin.running" />
        <meta-data android:name="zy_cp_id" android:value="f010" />
        <meta-data android:name="zy_appid" android:value="fit000" />
        <meta-data android:name="zy_channel_id" android:value="fithealth01" />
        <meta-data android:name="ZY_LOTUSEED_CHANNEL" android:value="lotuseedChannel" />
        <meta-data android:name="ZY_LOTUSEED_APPKEY" android:value="l0j7P5jqbYstcRcnH6ma" />
        <receiver android:label="@string/runningAppWidget" android:icon="@drawable/appwidgeticon" android:name="com.zhuoyou.plugin.appWidget.RunningAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/running_app_widget_provider_config" />
        </receiver>
        <activity android:theme="@style/MyDialog" android:label="@string/water_intake" android:name="com.zhuoyou.plugin.running.WarnDialogActivity" android:showOnLockScreen="true" />
        <activity android:name="com.zhuoyou.plugin.running.SedentaryRemindActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.running.SedentaryTimeSetActivity" />
        <activity android:name="com.zhuoyou.plugin.running.WaterIntakeInfoActivity" />
        <activity android:name="com.zhuoyou.plugin.add.HeartRateDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.add.DetailsDescriptionActivity" android:screenOrientation="portrait" />
        <activity android:name="com.zhuoyou.plugin.add.HeartRateShareActivity" android:screenOrientation="portrait" />
        <receiver android:name="com.zhuoyou.plugin.running.DrinkWarnBroadcast" android:exported="false">
            <intent-filter>
                <action android:name="Drink_Water_Warn" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="UMENG_APPKEY" android:value="57528631e0f55ac108002b64" />
        <meta-data android:name="UMENG_CHANNEL" android:value="running01" />
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.RemindSettingActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.RemindSettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.SedentaryReminderM2Activity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.SedentaryReminderM2Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.SportTargetReminderActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.SportTargetReminderActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.AaronLiModelActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.AaronLiModelActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.M2UiDisplaySetting" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.M2UiDisplaySetting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhuoyou.plugin.bluetooth.attach.WristBrightScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tyd.bt.WristBrightScreenActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme_UMDialog" android:name="com.umeng.socialize.view.ShareActivity" android:launchMode="singleTask" android:configChanges="keyboard|orientation" android:windowSoftInputMode="stateVisible|stateAlwaysVisible|adjustResize|adjustNothing" android:noHistory="true" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <provider android:name="com.facebook.FacebookContentProvider" android:exported="true" android:authorities="com.facebook.app.FacebookContentProvider243830659325933" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" android:name="com.umeng.socialize.handler.TwitterWebActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
    </application>
</manifest>
